.btn {
  cursor: pointer;
  color: var(--inverted-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;

  &:hover {
    background-color: var(--primary-color-tinted);
    border-radius: 3px;
  }
}

.red {
  margin: 0;
  border: none;
  background-color: var(--delete-red-color);
  color: var(--inverted-primary-color);
  border-radius: 6px;

  &:hover {
    background-color: var(--tinted-delete-red-color);
  }
}

.selected {
  margin: 0;
  border: none;
  background-color: var(--selected-color);
  color: var(--inverted-primary-color);
  border-radius: 6px;

  &:hover {
    background-color: var(--tinted-selected-color);
  }
}

.outline {
  margin: 0;
  color: var(--secondary-color);
  border: solid 1px var(--light-grey-color);
  border-radius: 6px;
  background: none;

  &:hover {
    background-color: var(--light-grey-color);
  }
}

.background {
  margin: 0;
  border: none;
  background-color: var(--primary-color);
  color: var(--inverted-primary-color);
  border-radius: 6px;

  &:hover {
    background-color: var(--primary-color-tinted);
  }
}

.backgroundInverted {
  margin: 0;
  border: none;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.small {
  height: var(--ui-height-s);
  font-size: var(--font-size-s);
  padding: 0 3px;
}

.medium {
  height: var(--ui-height-m);
  font-size: var(--font-size-m);
  padding: 0 3px;
}

.large {
  height: var(--ui-height-l);
  font-size: var(--font-size-l);
  padding: 0 3px;
}

.disabled {
  visibility: hidden;
}
