.inputWrapper {
  display: flex;
  align-items: center;
}

.placeholder {
  margin-right: 4px;
}

.input {
  border: none;
  background: transparent;
  border-radius: 6px;
  color: var(--secondary-color);
}

.small {
  height: var(--ui-height-s);
  font-size: var(--font-size-s);
  padding: 0 2px;
}

.medium {
  height: var(--ui-height-m);
  font-size: var(--font-size-s);
  padding: 0 4px;
}

.large {
  height: var(--ui-height-l);
  font-size: var(--font-size-m);
  padding: 0 8px;
}

.clear {
  outline: none;
}

.outlined {
  background-color: var(--inverted-secondary-color);

  &:focus {
    outline: solid 3px var(--primary-color);
  }
}
