.Form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
}

.PriceRow {
  display: flex;
  flex-direction: row;
  gap: 7px;
  width: 100%;

  .PriceValueInput {
    flex-grow: 1;
  }
}

.ContactRow {
  display: flex;
  width: 100%;
  gap: 7px;

  .ContactValueInput {
    min-width: 130px;
  }

  .DeleteContactButton {
    height: var(--ui-height-s);
    width: var(--ui-height-s);
    color: red;
  }
}

.Textarea {
  background-color: var(--inverted-secondary-color);
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: var(--font-size-m);
  color: var(--secondary-color);
  width: 100%;
  resize: vertical;
  min-height: 100px;

  &:focus {
    outline: solid 3px var(--primary-color);
  }
}

.SubmitButton {
  background: var(--selected-color);
}
