.fileInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.fileInput {
    margin-bottom: 10px;
}

.selectedFiles {
    display: flex;
    flex-direction: column;
}

.selectedFile {
    margin-bottom: 5px;
}
