@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.app {
  padding: 0 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 40px - 90px);
}

@media (max-width: 768px) {
  .app {
    padding: 0 20px;
    height: auto;
  }
}

:root {
  --font-size-s: 10px;
  --font-size-m: 18px;
  --font-size-l: 26px;
  --font-size-xl: 32px;

  --font-line-s: 18px;
  --font-line-m: 26px;
  --font-line-l: 34px;

  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --ui-height-s: 22px;
  --ui-height-m: 30px;
  --ui-height-l: 38px;

  --navbar-height: 40px;
  --sidebar-width: 170px;
  --sidebar-width-collapsed: 60px;
  --modal-z-index: 10;
  --overlay-color: rgba(24, 24, 25, 0.394);
  --light-red: #f71b47;
  --dark-red: rgb(161 9 9);

  --bg-color: #ffffff;
  --inverted-bg-color: #000000;
  
  --primary-color: rgb(0,153,247);
  --primary-color-tinted:#196dc1;
  --inverted-primary-color: #ffffff;
  
  --secondary-color: #292930;
  --inverted-secondary-color: #dee0e4;

  --light-grey-color: #757575;
  --super-light-grey-color: #e9e9e9;
}
