.buttons {
    width: fit-content;
    border-radius: 6px 6px 0 0;
    padding: 5px;
    background-color: none;
}

.page {
    width: 100%;
}

.tabs {
    border-radius: 6px;
    box-shadow: 0 0 5px 0 rgb(209, 209, 209);
}

.button {
    margin-right: 5px !important;
}
