.card {
  display: flex;
  height: fit-content;
  flex-direction: row;
  width: 80%;
  margin: auto;

  &:hover {
    background-color: var(--super-light-grey-color);
    border-radius: 7px;
  }
}

.EditLink {
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 20px;
  padding: 15px;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 100%;
  }

  .buttons {
    flex-direction: row;
    width: 100%;
    max-width: unset;
    margin-top: 0;
  }
}
