.AppLink {
  text-decoration: none;
}

.primary {
  color: var(--primary-color);

  &:hover {
    color: var(--light-red);
  }
}

.secondary {
  color: var(--inverted-primary-color);

  &:hover {
    color: var(--light-red);
  }
}

.red {
  color: red;
}
