.newAdPage {
    width: 100%;
    padding-bottom: 30px;

    .h1 {
        margin-top: 50px;
    }

    .h2 {
        margin-top: 30px;
    }
}

.fieldWrapper {
    display: flex;
    align-items: center;
    margin-top: 25px;
    width: 100%;

    .fieldWrapperText {
        width: 30%;
    }

    .fieldWrapperInput {
        display: flex;
        gap: 20px;
        width: 40%;
        margin-left: 20px;
        align-items: center;

        input {
            width: 100%;
        }
    }

    .fieldWrapperContacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 70%;
        margin-left: 20px;

        .contact {
            display: flex;
            gap: 15px;
            margin-top: 15px;
            align-items: center;
        }

        .addContactButton {
            margin-top: 25px;
            width: 190px;
        }

        .removeContactButton {
            width: 30px;
            display: flex;
            align-items: center;
        }

        .select {
            width: 150px;
        }
    }
}

.textarea {
    background-color: var(--inverted-secondary-color);
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: var(--font-size-l);
    color: var(--secondary-color);
    width: 100%;
    resize: vertical;
    min-height: 100px;

    &:focus {
        outline: solid 3px var(--primary-color);
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.submitButton {
    align-self: flex-end;
    margin-top: 15px;
}
